$blue: #004883 !default; // Pepsi blue;
$red: #e32934 !default; // Pepsi red;
$green: #5ecc62 !default; // basecamp green;

$white: #fff !default;

$gray-xxs: #fafaf9 !default;
$gray-xs: #f7f7f6 !default;
$gray-s: #e3e3e2 !default;
$gray: #d2d2d1 !default;
$gray-l: #c2c2c1 !default;
$gray-xl: #6c6d6c !default;
$gray-xxl: #4c4c4b !default;

$black-s: #232323 !default;
$black: #121212 !default;
$black-l: #000 !default;

$primary-color: $blue !default;
$link-color: $blue !default;
$body-bg-color: $white !default;
$text-color: $black !default;
$border-color: $gray-l !default;
