// Typography
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5em 0;
    color: inherit;
    font-weight: 600;
    font-family: $head-font-family;
    line-height: 1.5;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 12px;
}

// Paragraphs
p {
    margin: 0.75rem 0;
}

// Semantic text elements
a,
ins,
u {
    text-decoration-skip: ink edges;
}

abbr[title] {
    text-decoration: none;
    border-bottom: $border-width-thin dotted;
    cursor: help;
}

// Blockquote
blockquote {
    margin: 0.75rem 0;
    padding: 0 1.5rem; // 1px is for avoid merging margins of p tag and blockquote tag
    border-left: $border-width solid lighten($primary-color, 50%);

    &::before,
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

// Pre
pre {
    margin: 1.5rem 0;
}

// Lists
ul,
ol {
    margin: 0 1rem;
    padding: 0;

    &.is-unstyled {
        list-style: none;
    }

    li > a {
        text-decoration: none;
    }
}

ul {
    list-style: disc inside;

    ul {
        list-style-type: circle;
    }
}

ol {
    list-style: decimal inside;

    ol {
        list-style-type: lower-alpha;
    }
}

// Code
code {
    border: $border-width-thin solid $border-color;
    border-radius: $border-radius;
}

// Hr
hr {
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid $border-color;
}

// Helpers
a.is-muted {
    color: $black-s;
    text-decoration: underline;

    &:focus,
    &:hover,
    &:active {
        color: lighten($link-color, 15%);
    }
}

.is-muted {
    color: $gray-xl;

    a.is-muted {
        color: $gray-xl;
        text-decoration: underline;
    }
}

.is-large {
    font-size: 1.75rem;
}

.is-big {
    font-size: 1.25rem;
}

.is-small {
    font-size: 0.85rem;
}

.is-centered {
    text-align: center;
}
